.wrapper {
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 2px;
    cursor: pointer;
    background-color: var(--bg-color, #fff);
    border: 1px solid transparent;
    user-select: none;
    &:hover {
        background-color: #fe2c550f;
    }
    + .wrapper {
        margin-left: 16px;
    }
    &.disabled {
        cursor: not-allowed;
        opacity: 0.5;
        &:hover {
            background-color: transparent !important;
        }
    }
    display: flex;
    align-items: center;
}

.normal {
    border-color: rgba(22, 24, 35, 0.12);
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    background-color: var(--primary-color, #fe2c55);
    color: var(--text-color-secondary, #fff);
    &:hover {
        background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.06),
                rgba(0, 0, 0, 0.06)
            ),
            #fe2c55;
    }
    justify-content: center;
}

.rounded {
    border-radius: 52px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
}

.outline {
    border-color: var(--primary-color);
    color: var(--primary-color);
    border-radius: 4px;
}

//size
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.medium {
    min-width: 106px;
    padding: 8px 16px;
}

.large {
    min-width: 120px;
    padding: 14px 16px;
}

.icon {
    display: inline-flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;

    &.left-icon {
        margin-right: 8px;
    }

    &.right-icon {
        margin-left: 8px;
    }
}

.no-icon {
    justify-content: center;
}

.separate-top {
    border-top: 1px solid rgba(22, 24, 35, 0.12) !important;
}
