.wrapper {
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--button-bg);
    border: 1px solid transparent;
    user-select: none;
    border-color: transparent;
    color: var(--text-color);
    &:hover {
        background-color: #fe2c550f;
    }
    + .wrapper {
        margin-left: 16px;
    }
    display: flex;
    align-items: center;
}

.normal {
    border-color: var(--border-color, #e4e7eb);
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    background-color: var(--primary-color, #fe2c55);
    color: var(--text-color);
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
    justify-content: center;
}

.rounded {
    border-radius: 52px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
}

.outline {
    border-color: var(--primary-color);
    color: var(--primary-color);
    border-radius: 4px;
}

.flex1 {
    flex: 1 1;
}

.square {
    width: 36px;
    min-width: unset;
    margin-left: 8px !important;
}

//size
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.medium {
    min-width: 106px;
    padding: 8px 16px;
}

.large {
    min-width: 120px;
    padding: 14px 16px;
    width: 164px;
    word-break: break-all;
}

.long {
    width: 80%;
}

.icon {
    display: inline-flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    align-items: center;

    &.left-icon {
        margin-right: 8px;
    }

    &.right-icon {
        margin-left: 8px;
    }
}

.no-icon {
    justify-content: center;
}

.separate-top {
    border-top: 1px solid rgba(22, 24, 35, 0.12) !important;
}

.disabled {
    color: var(--disabled-color);
    cursor: default;
    // opacity: 0.5;
    background-color: var(--light-bg) !important;
    &:hover {
        background: var(--light-bg) !important;
    }
    border: none;
}
