.overlay {
    position: fixed;
    background-color: var(--overlay-bg);
    inset: 0;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    border-radius: 8px;
    min-width: 483px;
    overflow: hidden;
    .modal-header,
    .modal-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        color: var(--text-color);
    }
    .modal-header {
        &.border {
            border-bottom: 1px solid var(--border-color);
        }
    }
    .modal-footer {
        margin-top: auto;
        border-top: 1px solid var(--border-color);
        justify-content: center;
    }
    min-height: 693px;
    transform: scale(0.1);
    transition: transform 0.2s ease;
    &:not(.modal-footer) {
        .modal-body {
            max-height: 87vh;
        }
    }
}

.visible {
    opacity: 1;
    visibility: visible;
    .wrapper {
        transform: scale(1);
    }
}

.back-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: transparent;
}

.close-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-left: auto;
    color: var(--text-color);
    &.have-bg {
        background-color: var(--modal-close-btn-bg);
        border-radius: 50%;
    }
}

.modal-body {
    flex: 1 1 auto;
    display: flex;
    max-height: 67vh;
    overflow-y: auto;
    flex-direction: column;
    position: relative;
}

.footer-item {
    font-size: 1.6rem;
    color: var(--text-color);
    & + .footer-item {
        margin-left: 4px;
    }
    .btn {
        cursor: pointer;
        font-weight: 600;
        font-size: 1.7rem;
        color: var(--primary-color);
        background-color: transparent;
        &:hover {
            text-decoration: underline;
        }
    }
}
