.wrapper {
    text-align: center;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    // opacity: 0;
    // visibility: hidden;
    transform: translateY(-100%);
    transition: transform ease 0.3s;
}

.top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    &.appear {
        // opacity: 1;
        // visibility: visible;
        transform: translateY(50%);
    }
}

.toast-container {
    background-color: rgba(84, 84, 84, 0.92);
    border-radius: 2px;
    padding: 8px 16px;
    width: 50vw;
    color: #fff;
}
