.wrapper {
    --search-height: 46px;
    --search-btn-width: 52px;
    --search-separator-top: 9px;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: var(--bg-color);
}

.inner {
    height: 100%;
    max-width: var(--default-layout-width);
    display: flex;
    align-items: center;
    padding: 0 var(--default-layout-spacer);
    justify-content: space-between;
    margin: 0 auto;
    &.full {
        margin: 0;
        max-width: 100%;
    }
    @media screen and (max-width: 990px) {
        max-width: unset;
        padding: 0 14px 0 24px;
    }
}

.logo {
    display: flex;
}

// Actions

.actions {
    display: flex;
    align-items: center;
}

.notification-wrapper {
    position: relative;
}

.more-btn {
    margin-left: 24px;
    cursor: pointer;
    font-style: normal;
    padding: 0 10px;
    background-color: transparent;
    font-size: 20px;
    color: var(--text-color);
}
[data-scroll-lock] .more-btn {
    margin-right: var(--scrollbar-compensation);
}

.action-btn {
    font-size: 2.2rem;
    color: var(--nickname-color);
    background: transparent;
    // margin-left: 16px;
    height: 32px;
    width: 32px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 280px) {
        display: none;
    }
}
.separator {
    height: 100%;
    width: 16px;
}

.get-coins-label {
    display: flex;
    align-items: center;
    justify-content: center;
    .text {
        margin-left: 8px;
        margin-top: 3px;
    }
}
.user-avatar {
    object-fit: cover;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin-left: 24px;
    cursor: pointer;
    border: 1px solid var(--border-color);
}

@media screen and (max-width: 620px) {
    .separator:nth-child(3) {
        display: none;
    }
    .get-coins-btn {
        display: none;
    }
    .user-avatar {
        margin-left: 0;
    }
    .upload-btn {
        min-width: unset;
        span:first-child {
            margin-right: 0;
        }
        span:nth-child(2) {
            display: none;
        }
    }
}

@media screen and (max-width: 360px) {
    .upload-btn {
        margin-left: 10px;
    }
}
