.wrapper {
    padding: 20px 0 26px 0;
    background-color: var(--bg-color);
    position: sticky;
    left: 0;
    top: var(--default-layout-header-height);
    height: calc(100vh - var(--default-layout-header-height));
    z-index: 2;
    transition: overflow-y 1s ease-in-out;
    overflow-y: hidden;
    @media screen and (max-width: 1160px) {
        min-width: var(--mobile-sidebar-width, 55px);
        max-width: var(--mobile-sidebar-width, 55px);
        margin-left: 8px;
        margin-right: 8px;
        overflow: hidden;
        .suggested-login {
            display: none;
        }
    }
    &.large {
        width: var(--sidebar-width, 356px);
    }
    &.medium {
        width: var(--sidebar-width-smaller, 232px);
    }
    &:hover {
        overflow-y: auto;
    }
}

.suggested-login {
    border-top: 1px solid var(--border-color);
    padding: 20px 8px 24px 8px;
    color: var(--suggested-label-color);
    .login-btn {
        width: 100%;
    }
}
